<ng-container *ngIf="type === servingPlaceType.Kitchen">
    <ng-container>
        <mat-button-toggle-group *ngIf="order.orderContent === orderContent.PizzaAndDishes" name="fontStyle" aria-label="Font Style" (change)="deliveryTimeSelected($event)">
            <mat-button-toggle value="8">8</mat-button-toggle>
            <mat-button-toggle value="10">10</mat-button-toggle>
            <mat-button-toggle value="15">15</mat-button-toggle>
            <mat-button-toggle value="20">20</mat-button-toggle>
            <mat-button-toggle value="25">25</mat-button-toggle>
            <mat-button-toggle value="30">30</mat-button-toggle>
        </mat-button-toggle-group>
    </ng-container>
</ng-container>

<ng-container *ngIf="type == servingPlaceType.Pizza">
    <ng-container *ngIf="order.orderContent == orderContent.PizzaOnly">Do wydania</ng-container>
    <ng-container *ngIf="order.orderContent == orderContent.PizzaAndDishes && order.deliveryTime.getFullYear() == 1">
        Oczekiwanie na kuchnię  
    </ng-container>
</ng-container>


